p {
    word-wrap: break-word;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

main .header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    width: 400px;
}

#containerChat {
    margin-top: 1rem;
    width: 400px;
    height: 450px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#box {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow-y: scroll;
}

.msg {
    padding: 5px 8px;
    margin: 4px;
    /* border-radius: 6px; */
    max-width: 80%;
}

.me {
    background: #d1ffd1;
    border-radius: 6px 0 6px 6px;
    align-self: flex-end;
}

.other {
    background: #fff;
    border-radius: 0 6px 6px 6px;
    align-self: flex-start;
}

.chat-box {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chat-box input[type="text"] {
    font-family: 'Gilda Display', serif;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-size: 1rem;
}

.chat-box input[type="text"]:focus {
    outline: none;
}

.chat-box button {
    padding: 8px;
    margin-left: 5px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;
}