/* LANDING PAGE */
main {
    padding: 0;
    max-width: 100%;
    min-height: auto;
}

section.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/pages/hero.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
}

section h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section hr {
    width: 50px;
    border: 1px solid #ffffff;
    margin-bottom: 1rem;
}

section.hero p {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

section.feature {
    padding: 8rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--primary-color);
}

section.feature .features-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

section.feature .feature-item {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
}

section.feature .feature-item h3 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

section.feature hr,
section.about hr {
    border: 1px solid var(--primary-color);
}

section.about {
    padding: 8rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}