/* LOGIN STYLE */
body {
    margin: 0;
    padding: 0;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.login-form {
    width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-form p {
    margin-bottom: 1.5rem;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input[type="text"],
.login-form input[type="password"],
select,
input[type="file"] {
    width: 100%;
    padding: 0.8rem 1rem 0.8rem 1.5rem;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}